

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="container">
        
        <img src="{{imageSrc}}">
        <h1>HOME</h1>
        <p>The application is based on Angular.Created basic loginform ,take a look.
        </p><br><br>
        <div>
        <a routerLink="login">Login</a><br>
        <router-outlet></router-outlet><br>
        <a routerLink="user">All Users</a><br>
        <router-outlet></router-outlet></div>
    </body>